<!DOCTYPE html>
<html>
<head>
  <title>Catastrofe2017</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!--HEADER-->
  <header>
    <nav class="transparent">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">AYUDA CHILE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#donaciones">Donar</a></li>
          <li><a href="#voluntarios">Voluntarios</a></li>
          <li><a href="#informacion">Informacion</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%= render "layouts/nav" %>
  <%= yield %>
</body>

<!-- Reemplazar por asset pipeline -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="js/init.js"></script>
</html>