<!DOCTYPE html>
<html>
<head>
  <title>Catastrofe2017</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render "layouts/nav" %>
  <%= yield %>
</body>
</html>
